In [2]:
# Step 1: Import the relevant python libraries for the analysis
import pandas as pd
from pandas import DataFrame
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# Step 2: Load and test dataset and set the index if applicable
materna = pd.read_csv('mortalidad_materna.csv')
materna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18163 entries, 0 to 18162
Data columns (total 58 columns):
Año de nacimiento                                   18163 non-null int64
Mes de nacimiento                                   18163 non-null int64
Descripción del mes de nacimiento                   18163 non-null object
Día de nacimiento                                   18163 non-null int64
Genero                                              18163 non-null int64
Clave de la edad                                    18163 non-null object
Edad cumplida                                       18163 non-null int64
Estado conyugal                                     18163 non-null int64
Descripción del estado conyugal                     18163 non-null object
Entidad de residencia                               18163 non-null int64
Descripción de entidad de residencia                18163 non-null object
Municipio de residencia                             18163 non-null int64
Descripción del municipio de residencia             18163 non-null object
Localidad de residencia                             18163 non-null int64
Descripción de la localidad de residencia           18163 non-null object
Tamaño de localidad                                 18163 non-null int64
Descripción del tamaño de localidad                 18163 non-null object
Ocupación habitual                                  18163 non-null int64
Descripción de la ocupación habitual                17762 non-null object
Escolaridad                                         18163 non-null int64
Descripción de la escolaridad                       18163 non-null object
Derechohabiencia                                    18163 non-null int64
Descripción de la derechohabiencia                  18163 non-null object
Entidad de ocurrencia                               18163 non-null int64
Descripción de la entidad de ocurrencia             18163 non-null object
Municipio de ocurrencia                             18163 non-null int64
Descripción del municipio de ocurrencia             18163 non-null object
Localidad de ocurrencia                             18163 non-null int64
Descrición de la localidad de ocurrencia            18163 non-null object
Sitio donde ocurrio la defunción                    18163 non-null int64
Descripción del sitio donde ocurrio la defunción    18163 non-null object
Año de la defunción                                 18163 non-null int64
Mes de la defunción                                 18163 non-null int64
Descripción del mes de la defunción                 18163 non-null object
Día de la defunción                                 18163 non-null int64
Hora de la defunción                                18163 non-null int64
Minutos de la defunción                             18163 non-null int64
Asistencia médica                                   18163 non-null int64
Descripción de la asistencia médica                 18163 non-null object
Causa CIE a cuatro dígitos                          18163 non-null object
Descripción de la causa CIE                         18163 non-null object
Quien certificó                                     18163 non-null int64
Descripción de quien certificó                      18163 non-null object
Entidad de registro                                 18163 non-null int64
Descripción de la entidad de registro               18163 non-null object
Municipio de registro                               18163 non-null int64
Descripción del municipio de registro               18163 non-null object
Año de registro                                     18163 non-null int64
Mes de registro                                     18163 non-null int64
Descripción del mes de registro                     18163 non-null object
Día de registro                                     18163 non-null int64
Año de la certificación                             15466 non-null float64
Mes de la certificación                             18163 non-null int64
Descripción del mes de la certificación             18163 non-null object
Día de la certificación                             15466 non-null float64
Año de la base de datos                             18163 non-null int64
Razón de mortalidad materna                         18163 non-null int64
Descripción de la razón de mortalidad materna       18163 non-null object
dtypes: float64(2), int64(32), object(24)
memory usage: 8.0+ MB

In [4]:
# Step 3: Create a Dataframe to store data types in materna
m_dtypes = pd.DataFrame(materna.dtypes)
m_dtypes.head()

                                        0
Año de nacimiento                   int64
Mes de nacimiento                   int64
Descripción del mes de nacimiento  object
Día de nacimiento                   int64
Genero                              int64

In [5]:
# 3a: Rename 0 column to be 'DataType'
m_dtypes = m_dtypes.rename(columns={0:'DataType'})
m_dtypes.head()

                                  DataType
Año de nacimiento                    int64
Mes de nacimiento                    int64
Descripción del mes de nacimiento   object
Día de nacimiento                    int64
Genero                               int64

In [6]:
# 3a: Analyze Missing Values
m_dtypes['MissingVal'] = materna.isnull().sum()
m_dtypes.head()

                                  DataType  MissingVal
Año de nacimiento                    int64           0
Mes de nacimiento                    int64           0
Descripción del mes de nacimiento   object           0
Día de nacimiento                    int64           0
Genero                               int64           0

In [8]:
# 3c: Identify number of unique values
m_dtypes['NumUnique'] = materna.nunique()
m_dtypes.head()

                                  DataType  MissingVal  NumUnique
Año de nacimiento                    int64           0         83
Mes de nacimiento                    int64           0         13
Descripción del mes de nacimiento   object           0         13
Día de nacimiento                    int64           0         32
Genero                               int64           0          1

In [9]:
# 3d: Identify the count for each variable
m_dtypes['Count']=materna.count()
m_dtypes.head()

                                  DataType  MissingVal  NumUnique  Count
Año de nacimiento                    int64           0         83  18163
Mes de nacimiento                    int64           0         13  18163
Descripción del mes de nacimiento   object           0         13  18163
Día de nacimiento                    int64           0         32  18163
Genero                               int64           0          1  18163

In [10]:
# Step 4: Run descriptive statistics of object datatypes
materna.describe(include=['object'])

,Descripción del mes de nacimiento,Clave de la edad,Descripción del estado conyugal,Descripción de entidad de residencia,Descripción del municipio de residencia,Descripción de la localidad de residencia,Descripción del tamaño de localidad,Descripción de la ocupación habitual,Descripción de la escolaridad,Descripción de la derechohabiencia,...,Descripción del mes de la defunción,Descripción de la asistencia médica,Causa CIE a cuatro dígitos,Descripción de la causa CIE,Descripción de quien certificó,Descripción de la entidad de registro,Descripción del municipio de registro,Descripción del mes de registro,Descripción del mes de la certificación,Descripción de la razón de mortalidad materna
count,18163,18163,18163,18163,18163,18163,18163,17762,18163,18163,...,18163,18163,18163,18163,18163,18163,18163,18163,18163,18163
unique,13,1,9,36,1862,7160,18,22,12,11,...,13,3,272,272,7,32,1393,12,13,2
top,NO ESPECIFICADO,A,CASADO,México,007 IZTAPALAPA,150330001 Ecatepec de Morelos,1 a 999 habitantes,NO OCUPADOS,SECUNDARIA COMPLETA,NINGUNA,...,OCTUBRE,CON ATENCION MEDICA,O150,O150 Eclampsia en el embarazo,OTRO MEDICO,México,015 CUAUHTEMOC,OCTUBRE,NO ESPECIFICADO,Muertes Maternas para la razón de Mortalidad M...
freq,5586,18163,7973,2605,301,286,3846,10818,4390,6700,...,1616,15627,1548,1548,11153,2014,954,1623,2724,16696

In [11]:
# 4a: Run descriptive statistics of numerical datatypes
materna.describe(include=['number'])

,Año de nacimiento,Mes de nacimiento,Día de nacimiento,Genero,Edad cumplida,Estado conyugal,Entidad de residencia,Municipio de residencia,Localidad de residencia,Tamaño de localidad,...,Entidad de registro,Municipio de registro,Año de registro,Mes de registro,Día de registro,Año de la certificación,Mes de la certificación,Día de la certificación,Año de la base de datos,Razón de mortalidad materna
count,18163.000000,18163.000000,18163.000000,18163.0,18163.000000,18163.000000,18163.000000,18163.000000,18163.000000,18163.000000,...,18163.000000,18163.000000,18163.000000,18163.000000,18163.000000,15466.000000,18163.000000,15466.000000,18163.000000,18163.000000
mean,1972.378186,3.900952,10.173650,2.0,29.716622,3.928206,16.281451,58.749876,56.715961,7.855861,...,16.095744,53.225513,2008.960084,6.649562,15.687276,2008.526510,5.606122,15.665266,2008.960084,0.919231
std,124.765192,3.793616,10.157249,0.0,36.003429,1.464599,7.848476,74.563125,420.835539,5.914919,...,7.950259,64.389210,4.580846,3.455209,9.648856,56.114109,3.955472,8.901255,4.580846,0.272487
min,0.000000,0.000000,0.000000,2.0,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,2002.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2002.000000,0.000000
25%,1974.000000,0.000000,0.000000,2.0,22.000000,4.000000,10.000000,13.000000,1.000000,2.000000,...,9.000000,14.000000,2005.000000,4.000000,8.000000,2007.000000,2.000000,8.000000,2005.000000,1.000000
50%,1980.000000,3.000000,8.000000,2.0,28.000000,4.000000,15.000000,35.000000,1.000000,7.000000,...,15.000000,35.000000,2009.000000,7.000000,15.000000,2010.000000,6.000000,16.000000,2009.000000,1.000000
75%,1987.000000,7.000000,19.000000,2.0,34.000000,5.000000,21.000000,78.000000,15.000000,14.000000,...,21.000000,72.000000,2013.000000,10.000000,23.000000,2013.000000,9.000000,23.000000,2013.000000,1.000000
max,2003.000000,12.000000,31.000000,2.0,998.000000,9.000000,35.000000,570.000000,9999.000000,17.000000,...,32.000000,570.000000,2017.000000,12.000000,99.000000,2017.000000,12.000000,99.000000,2017.000000,1.000000

In [12]:
reason_for_death = materna['Descripción de la razón de mortalidad materna']
reason_for_death = np.unique(reason_for_death)
list(reason_for_death)

['Muertes Maternas excluidas para la razón de Mortalidad Materna',
 'Muertes Maternas para la razón de Mortalidad Materna']

In [13]:
last_age = materna['Edad cumplida']
int(last_age.mean())

29

In [14]:
gender = materna['Genero']
int(gender.mean())

2

In [15]:
residence = materna['Descripción de entidad de residencia']
residence = np.unique(residence)
list(residence)

['Aguascalientes',
 'Baja California',
 'Baja California Sur',
 'Campeche',
 'Chiapas',
 'Chihuahua',
 'Coahuila de Zaragoza',
 'Colima',
 'Distrito Federal',
 'Durango',
 'Estados Unidos de Norteamérica',
 'Guanajuato',
 'Guerrero',
 'Hidalgo',
 'Jalisco',
 'Michoacán de Ocampo',
 'Morelos',
 'México',
 'Nayarit',
 'No especificado',
 'Nuevo León',
 'Oaxaca',
 'Otros paises',
 'Otros paises latinoamericanos',
 'Puebla',
 'Querétaro Arteaga',
 'Quintana Roo',
 'San Luis Potosí',
 'Sinaloa',
 'Sonora',
 'Tabasco',
 'Tamaulipas',
 'Tlaxcala',
 'Veracruz de Ignacio de la Llave',
 'Yucatán',
 'Zacatecas']

In [16]:
localsize = materna['Tamaño de localidad']
localsize = np.unique(localsize)
list(localsize)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [17]:
localsize_descrip = materna['Descripción del tamaño de localidad']
localsize_descrip = np.unique(localsize_descrip)
list(localsize_descrip)

['1 a 999            habitantes',
 '1000 a 1999    habitantes',
 '10000 a 14999  habitantes',
 '100000 a 249999 habitantes',
 '1000000 a 1499999  habitantes',
 '15000 a 19999   habitantes',
 '1500000 y más habitantes',
 '2000 a 2499    habitantes',
 '20000 a 29999   habitantes',
 '2500 a 4999    habitantes',
 '250000 a 499999 habitantes',
 '30000 a 39999   habitantes',
 '40000 a 49999   habitantes',
 '5000 a 9999    habitantes',
 '50000 a 74999   habitantes',
 '500000 a 999999  habitantes',
 '75000 a 99999   habitantes',
 'No Especificado.']

In [18]:
local_res = materna['Descripción de la localidad de residencia']
local_res = np.unique(local_res)
len(local_res)

7160

In [19]:
local_df = materna[['Descripción de entidad de residencia','Tamaño de localidad','Descripción del tamaño de localidad']]
local_df = local_df.sort_values('Tamaño de localidad', axis=0, ascending=True)
len(local_df)

18163

In [20]:
tlx = materna[materna['Descripción de entidad de residencia'] == 'Tlaxcala']
tlx = tlx['Edad cumplida'] 
tlx.head()

0     29
1     36
57    28
65    30
67    29
Name: Edad cumplida, dtype: int64